
/*! 
 * Base CSS for pdf2htmlEX
 * Copyright 2012,2013 Lu Wang <coolwanglu@gmail.com> 
 * https://github.com/coolwanglu/pdf2htmlEX/blob/master/share/LICENSE
 */@media print{@page{margin:0}html{margin:0}body{margin:0;-webkit-print-color-adjust:exact}#sidebar{display:none}#page-container{width:auto;height:auto;overflow:visible;background-color:transparent}.d{display:none}}.pf{position:relative;background-color:white;overflow:hidden;margin:0;border:0}.pc{position:absolute;border:0;padding:0;margin:0;top:0;left:0;width:100%;height:100%;overflow:hidden;display:block;transform-origin:0 0;-ms-transform-origin:0 0;-webkit-transform-origin:0 0}.pc.opened{display:block}.bf{position:absolute;border:0;margin:0;top:0;bottom:0;width:100%;height:100%;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none}.bi{position:absolute;border:0;margin:0;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none}@media print{.pf{margin:0;box-shadow:none;page-break-after:always;page-break-inside:avoid}@-moz-document url-prefix(){.pf{overflow:visible;border:1px solid #fff}.pc{overflow:visible}}}.c{position:absolute;border:0;padding:0;margin:0;overflow:hidden;display:block}.t{position:absolute;white-space:pre;font-size:1px;transform-origin:0 100%;-ms-transform-origin:0 100%;-webkit-transform-origin:0 100%;unicode-bidi:bidi-override;-moz-font-feature-settings:"liga" 0}.t:after{content:''}.t:before{content:'';display:inline-block}.t span{position:relative;unicode-bidi:bidi-override}._{display:inline-block;color:transparent;z-index:-1}::selection{background:rgba(127,255,255,0.4)}::-moz-selection{background:rgba(127,255,255,0.4)}.pi{display:none}.d{position:absolute;transform-origin:0 100%;-ms-transform-origin:0 100%;-webkit-transform-origin:0 100%}.it{border:0;background-color:rgba(255,255,255,0.0)}.ir:hover{cursor:pointer}
/*! 
 * Fancy styles for pdf2htmlEX
 * Copyright 2012,2013 Lu Wang <coolwanglu@gmail.com> 
 * https://github.com/coolwanglu/pdf2htmlEX/blob/master/share/LICENSE
 */@keyframes fadein{from{opacity:0}to{opacity:1}}@-webkit-keyframes fadein{from{opacity:0}to{opacity:1}}@keyframes swing{0{transform:rotate(0)}10%{transform:rotate(0)}90%{transform:rotate(720deg)}100%{transform:rotate(720deg)}}@-webkit-keyframes swing{0{-webkit-transform:rotate(0)}10%{-webkit-transform:rotate(0)}90%{-webkit-transform:rotate(720deg)}100%{-webkit-transform:rotate(720deg)}}@media screen{#sidebar{background-color:#2f3236;background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjQiPgo8cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMNCA0Wk00IDBMMCA0WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+")}#outline{font-family:Georgia,Times,"Times New Roman",serif;font-size:13px;margin:2em 1em}#outline ul{padding:0}#outline li{list-style-type:none;margin:1em 0}#outline li>ul{margin-left:1em}#outline a,#outline a:visited,#outline a:hover,#outline a:active{line-height:1.2;color:#e8e8e8;text-overflow:ellipsis;white-space:nowrap;text-decoration:none;display:block;overflow:hidden;outline:0}#outline a:hover{color:#0cf}.pf{margin:13px auto;box-shadow:1px 1px 3px 1px #333;border-collapse:separate}.pc.opened{-webkit-animation:fadein 100ms;animation:fadein 100ms}.loading-indicator.active{-webkit-animation:swing 1.5s ease-in-out .01s infinite alternate none;animation:swing 1.5s ease-in-out .01s infinite alternate none}}
.ff0{font-family:sans-serif;visibility:hidden;}

@font-face{font-family:ff1;)format("woff");}.ff9{font-family:ff9;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.lsb{letter-spacing:-0.656000px;}
.ls9{letter-spacing:-0.408000px;}
.ls2{letter-spacing:-0.293600px;}
.ls5{letter-spacing:-0.276400px;}
.ls7{letter-spacing:-0.203600px;}
.ls3{letter-spacing:-0.200800px;}
.ls1{letter-spacing:-0.192400px;}
.ls8{letter-spacing:-0.072800px;}
.lsd{letter-spacing:-0.035520px;}
.ls0{letter-spacing:0.000000px;}
.ls4{letter-spacing:0.072800px;}
.lsa{letter-spacing:0.174800px;}
.ls6{letter-spacing:0.203600px;}
.lsc{letter-spacing:0.311200px;}
.lse{letter-spacing:0.408000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._17{margin-left:-7.743680px;}
._0{margin-left:-1.061280px;}
._3{width:1.261280px;}
._d{width:2.649600px;}
._7{width:3.801120px;}
._5{width:4.906080px;}
._f{width:5.957280px;}
._6{width:7.463040px;}
._c{width:9.481760px;}
._b{width:10.786240px;}
._9{width:14.263680px;}
._8{width:15.305760px;}
._a{width:16.877440px;}
._e{width:18.873920px;}
._10{width:20.610880px;}
._13{width:21.846080px;}
._11{width:22.938240px;}
._12{width:24.951840px;}
._4{width:26.054400px;}
._14{width:28.483200px;}
._15{width:29.852160px;}
._18{width:118.044480px;}
._2{width:128.256000px;}
._16{width:130.031360px;}
._19{width:131.577600px;}
._1{width:856.994240px;}
.fc1{color:rgb(79,129,189);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:25.920000px;}
.fs2{font-size:32.160000px;}
.fs0{font-size:36.000000px;}
.fs4{font-size:39.840000px;}
.fs5{font-size:44.160000px;}
.fs1{font-size:48.000000px;}
.fs6{font-size:56.160000px;}
.y1{bottom:0.000000px;}
.y14{bottom:4.560000px;}
.y12{bottom:38.280000px;}
.y11{bottom:45.840000px;}
.y10{bottom:55.560000px;}
.yf{bottom:65.280000px;}
.ye{bottom:75.000000px;}
.yd{bottom:84.720000px;}
.yc{bottom:94.704000px;}
.yb{bottom:105.380000px;}
.ya{bottom:115.100000px;}
.yd9{bottom:136.460000px;}
.y42{bottom:137.420000px;}
.yb4{bottom:147.980000px;}
.yd8{bottom:149.300000px;}
.y41{bottom:150.140000px;}
.y70{bottom:156.980000px;}
.yb3{bottom:160.700000px;}
.yd7{bottom:161.900000px;}
.y40{bottom:165.740000px;}
.y6f{bottom:169.700000px;}
.yb2{bottom:173.300000px;}
.yd6{bottom:174.380000px;}
.y3f{bottom:178.340000px;}
.y6e{bottom:182.300000px;}
.y93{bottom:186.020000px;}
.yd5{bottom:187.100000px;}
.y3e{bottom:191.060000px;}
.y6d{bottom:195.020000px;}
.y92{bottom:198.620000px;}
.yd4{bottom:199.700000px;}
.y3d{bottom:203.660000px;}
.y6c{bottom:207.620000px;}
.y91{bottom:211.220000px;}
.yd3{bottom:212.420000px;}
.yb1{bottom:214.220000px;}
.y3c{bottom:219.500000px;}
.y6b{bottom:220.220000px;}
.y90{bottom:223.940000px;}
.yd2{bottom:225.020000px;}
.yb0{bottom:226.940000px;}
.y3b{bottom:231.980000px;}
.y6a{bottom:233.060000px;}
.y8f{bottom:239.540000px;}
.y13{bottom:240.380000px;}
.yd1{bottom:243.620000px;}
.y3a{bottom:247.580000px;}
.y69{bottom:248.660000px;}
.y8e{bottom:252.260000px;}
.yaf{bottom:255.380000px;}
.y39{bottom:260.330000px;}
.yd0{bottom:262.370000px;}
.y68{bottom:264.290000px;}
.y8d{bottom:264.890000px;}
.yae{bottom:267.890000px;}
.y38{bottom:275.930000px;}
.y67{bottom:276.890000px;}
.y8c{bottom:277.610000px;}
.yad{bottom:280.610000px;}
.ycf{bottom:280.970000px;}
.y37{bottom:288.650000px;}
.y66{bottom:289.610000px;}
.y8b{bottom:290.210000px;}
.yac{bottom:293.210000px;}
.yce{bottom:299.690000px;}
.y65{bottom:302.210000px;}
.y36{bottom:304.250000px;}
.yab{bottom:305.810000px;}
.y8a{bottom:305.930000px;}
.ycd{bottom:312.290000px;}
.y64{bottom:314.930000px;}
.yaa{bottom:318.530000px;}
.y35{bottom:319.970000px;}
.y89{bottom:321.650000px;}
.ycc{bottom:325.130000px;}
.y63{bottom:327.530000px;}
.ya9{bottom:331.130000px;}
.y34{bottom:332.570000px;}
.y88{bottom:334.130000px;}
.y62{bottom:340.130000px;}
.ycb{bottom:343.730000px;}
.y33{bottom:345.170000px;}
.y87{bottom:346.850000px;}
.ya8{bottom:346.970000px;}
.y61{bottom:352.850000px;}
.yca{bottom:356.330000px;}
.y86{bottom:359.450000px;}
.y32{bottom:360.890000px;}
.y60{bottom:365.570000px;}
.yc9{bottom:369.050000px;}
.y85{bottom:372.050000px;}
.y31{bottom:376.490000px;}
.y5f{bottom:381.050000px;}
.yc8{bottom:381.530000px;}
.y84{bottom:384.770000px;}
.y30{bottom:392.210000px;}
.y5e{bottom:393.770000px;}
.yc7{bottom:394.250000px;}
.ya7{bottom:397.370000px;}
.y83{bottom:397.490000px;}
.y2f{bottom:404.810000px;}
.y5d{bottom:406.370000px;}
.yc6{bottom:406.970000px;}
.ya6{bottom:410.090000px;}
.y82{bottom:413.090000px;}
.y2e{bottom:417.410000px;}
.y5c{bottom:419.090000px;}
.yc5{bottom:419.570000px;}
.ya5{bottom:422.690000px;}
.y81{bottom:425.690000px;}
.y2d{bottom:430.150000px;}
.y5b{bottom:431.710000px;}
.yc4{bottom:432.190000px;}
.ya4{bottom:435.310000px;}
.y80{bottom:438.310000px;}
.y5a{bottom:444.310000px;}
.yc3{bottom:444.910000px;}
.y2c{bottom:445.750000px;}
.y7f{bottom:451.030000px;}
.ya3{bottom:451.150000px;}
.y59{bottom:457.030000px;}
.yc2{bottom:457.630000px;}
.y2b{bottom:458.470000px;}
.ya2{bottom:463.630000px;}
.y7e{bottom:466.750000px;}
.y58{bottom:469.630000px;}
.yc1{bottom:470.110000px;}
.y2a{bottom:474.190000px;}
.ya1{bottom:476.350000px;}
.y7d{bottom:479.350000px;}
.y57{bottom:482.350000px;}
.yc0{bottom:482.830000px;}
.y29{bottom:486.670000px;}
.ya0{bottom:488.950000px;}
.y7c{bottom:491.950000px;}
.y56{bottom:494.950000px;}
.ybf{bottom:495.550000px;}
.y28{bottom:499.390000px;}
.y9f{bottom:501.550000px;}
.y7b{bottom:504.550000px;}
.y55{bottom:507.550000px;}
.ybe{bottom:508.030000px;}
.y27{bottom:512.110000px;}
.y9e{bottom:514.270000px;}
.y7a{bottom:517.270000px;}
.y54{bottom:520.270000px;}
.ybd{bottom:521.350000px;}
.y26{bottom:524.830000px;}
.y9d{bottom:526.870000px;}
.y53{bottom:532.870000px;}
.y79{bottom:532.990000px;}
.ybc{bottom:536.950000px;}
.y25{bottom:537.430000px;}
.y9c{bottom:539.590000px;}
.y52{bottom:545.590000px;}
.y24{bottom:550.030000px;}
.ybb{bottom:551.350000px;}
.y9b{bottom:555.310000px;}
.y51{bottom:558.190000px;}
.y23{bottom:562.750000px;}
.yba{bottom:567.430000px;}
.y50{bottom:570.910000px;}
.y9a{bottom:571.030000px;}
.y22{bottom:575.350000px;}
.y4f{bottom:583.510000px;}
.y99{bottom:586.510000px;}
.y21{bottom:588.070000px;}
.y4e{bottom:596.140000px;}
.y98{bottom:599.140000px;}
.yb9{bottom:599.620000px;}
.y20{bottom:600.700000px;}
.y4d{bottom:608.860000px;}
.y97{bottom:611.860000px;}
.y1f{bottom:613.300000px;}
.yb8{bottom:615.700000px;}
.y4c{bottom:621.460000px;}
.y78{bottom:621.580000px;}
.y96{bottom:624.460000px;}
.y1e{bottom:625.900000px;}
.yb7{bottom:631.180000px;}
.y77{bottom:637.180000px;}
.y4b{bottom:637.300000px;}
.y1d{bottom:638.500000px;}
.yb6{bottom:643.780000px;}
.y4a{bottom:649.780000px;}
.y1c{bottom:650.860000px;}
.yb5{bottom:656.380000px;}
.y1b{bottom:662.380000px;}
.y76{bottom:665.500000px;}
.y0{bottom:672.000000px;}
.y1a{bottom:674.380000px;}
.y49{bottom:675.100000px;}
.y75{bottom:678.100000px;}
.y48{bottom:687.700000px;}
.y19{bottom:688.180000px;}
.y74{bottom:690.700000px;}
.y47{bottom:700.420000px;}
.y95{bottom:700.540000px;}
.y18{bottom:701.980000px;}
.y73{bottom:703.420000px;}
.y94{bottom:713.020000px;}
.y17{bottom:715.780000px;}
.y46{bottom:716.020000px;}
.y45{bottom:728.620000px;}
.y72{bottom:728.740000px;}
.y16{bottom:729.580000px;}
.y15{bottom:743.380000px;}
.y44{bottom:744.340000px;}
.y71{bottom:744.460000px;}
.y9{bottom:756.340000px;}
.y8{bottom:767.280000px;}
.y43{bottom:768.000000px;}
.y7{bottom:778.200000px;}
.y6{bottom:789.120000px;}
.y5{bottom:800.160000px;}
.y4{bottom:811.080000px;}
.y3{bottom:822.000000px;}
.y2{bottom:832.920000px;}
.h6{height:15.840000px;}
.h5{height:26.945156px;}
.h4{height:32.175703px;}
.h2{height:36.017578px;}
.h8{height:41.415703px;}
.h9{height:45.906562px;}
.ha{height:46.618125px;}
.h3{height:49.898438px;}
.h7{height:50.671875px;}
.hc{height:58.381172px;}
.hb{height:63.000000px;}
.h1{height:159.000000px;}
.h0{height:842.040000px;}
.w3{width:8.400000px;}
.w4{width:164.000000px;}
.w1{width:486.000000px;}
.w2{width:595.319991px;}
.w0{width:595.320000px;}
.x1{left:0.000009px;}
.x0{left:11.000000px;}
.x2{left:42.599991px;}
.x13{left:51.599991px;}
.xf{left:63.983991px;}
.x10{left:78.023991px;}
.x11{left:81.983991px;}
.xe{left:87.503991px;}
.x16{left:92.183991px;}
.x17{left:113.539991px;}
.xd{left:154.819991px;}
.x6{left:182.539991px;}
.x3{left:194.569991px;}
.x8{left:211.369991px;}
.xa{left:213.650000px;}
.xb{left:216.650000px;}
.xc{left:219.889991px;}
.x9{left:223.729991px;}
.x7{left:260.449991px;}
.x4{left:282.889991px;}
.x14{left:292.249991px;}
.x12{left:296.449991px;}
.x5{left:300.649991px;}
.x15{left:302.929991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsb{letter-spacing:-0.874667pt;}
.ls9{letter-spacing:-0.544000pt;}
.ls2{letter-spacing:-0.391467pt;}
.ls5{letter-spacing:-0.368533pt;}
.ls7{letter-spacing:-0.271467pt;}
.ls3{letter-spacing:-0.267733pt;}
.ls1{letter-spacing:-0.256533pt;}
.ls8{letter-spacing:-0.097067pt;}
.lsd{letter-spacing:-0.047360pt;}
.ls0{letter-spacing:0.000000pt;}
.ls4{letter-spacing:0.097067pt;}
.lsa{letter-spacing:0.233067pt;}
.ls6{letter-spacing:0.271467pt;}
.lsc{letter-spacing:0.414933pt;}
.lse{letter-spacing:0.544000pt;}
.ws0{word-spacing:0.000000pt;}
._17{margin-left:-10.324907pt;}
._0{margin-left:-1.415040pt;}
._3{width:1.681707pt;}
._d{width:3.532800pt;}
._7{width:5.068160pt;}
._5{width:6.541440pt;}
._f{width:7.943040pt;}
._6{width:9.950720pt;}
._c{width:12.642347pt;}
._b{width:14.381653pt;}
._9{width:19.018240pt;}
._8{width:20.407680pt;}
._a{width:22.503253pt;}
._e{width:25.165227pt;}
._10{width:27.481173pt;}
._13{width:29.128107pt;}
._11{width:30.584320pt;}
._12{width:33.269120pt;}
._4{width:34.739200pt;}
._14{width:37.977600pt;}
._15{width:39.802880pt;}
._18{width:157.392640pt;}
._2{width:171.008000pt;}
._16{width:173.375147pt;}
._19{width:175.436800pt;}
._1{width:1142.658987pt;}
.fs3{font-size:34.560000pt;}
.fs2{font-size:42.880000pt;}
.fs0{font-size:48.000000pt;}
.fs4{font-size:53.120000pt;}
.fs5{font-size:58.880000pt;}
.fs1{font-size:64.000000pt;}
.fs6{font-size:74.880000pt;}
.y1{bottom:0.000000pt;}
.y14{bottom:6.080000pt;}
.y12{bottom:51.040000pt;}
.y11{bottom:61.120000pt;}
.y10{bottom:74.080000pt;}
.yf{bottom:87.040000pt;}
.ye{bottom:100.000000pt;}
.yd{bottom:112.960000pt;}
.yc{bottom:126.272000pt;}
.yb{bottom:140.506667pt;}
.ya{bottom:153.466667pt;}
.yd9{bottom:181.946667pt;}
.y42{bottom:183.226667pt;}
.yb4{bottom:197.306667pt;}
.yd8{bottom:199.066667pt;}
.y41{bottom:200.186667pt;}
.y70{bottom:209.306667pt;}
.yb3{bottom:214.266667pt;}
.yd7{bottom:215.866667pt;}
.y40{bottom:220.986667pt;}
.y6f{bottom:226.266667pt;}
.yb2{bottom:231.066667pt;}
.yd6{bottom:232.506667pt;}
.y3f{bottom:237.786667pt;}
.y6e{bottom:243.066667pt;}
.y93{bottom:248.026667pt;}
.yd5{bottom:249.466667pt;}
.y3e{bottom:254.746667pt;}
.y6d{bottom:260.026667pt;}
.y92{bottom:264.826667pt;}
.yd4{bottom:266.266667pt;}
.y3d{bottom:271.546667pt;}
.y6c{bottom:276.826667pt;}
.y91{bottom:281.626667pt;}
.yd3{bottom:283.226667pt;}
.yb1{bottom:285.626667pt;}
.y3c{bottom:292.666667pt;}
.y6b{bottom:293.626667pt;}
.y90{bottom:298.586667pt;}
.yd2{bottom:300.026667pt;}
.yb0{bottom:302.586667pt;}
.y3b{bottom:309.306667pt;}
.y6a{bottom:310.746667pt;}
.y8f{bottom:319.386667pt;}
.y13{bottom:320.506667pt;}
.yd1{bottom:324.826667pt;}
.y3a{bottom:330.106667pt;}
.y69{bottom:331.546667pt;}
.y8e{bottom:336.346667pt;}
.yaf{bottom:340.506667pt;}
.y39{bottom:347.106667pt;}
.yd0{bottom:349.826667pt;}
.y68{bottom:352.386667pt;}
.y8d{bottom:353.186667pt;}
.yae{bottom:357.186667pt;}
.y38{bottom:367.906667pt;}
.y67{bottom:369.186667pt;}
.y8c{bottom:370.146667pt;}
.yad{bottom:374.146667pt;}
.ycf{bottom:374.626667pt;}
.y37{bottom:384.866667pt;}
.y66{bottom:386.146667pt;}
.y8b{bottom:386.946667pt;}
.yac{bottom:390.946667pt;}
.yce{bottom:399.586667pt;}
.y65{bottom:402.946667pt;}
.y36{bottom:405.666667pt;}
.yab{bottom:407.746667pt;}
.y8a{bottom:407.906667pt;}
.ycd{bottom:416.386667pt;}
.y64{bottom:419.906667pt;}
.yaa{bottom:424.706667pt;}
.y35{bottom:426.626667pt;}
.y89{bottom:428.866667pt;}
.ycc{bottom:433.506667pt;}
.y63{bottom:436.706667pt;}
.ya9{bottom:441.506667pt;}
.y34{bottom:443.426667pt;}
.y88{bottom:445.506667pt;}
.y62{bottom:453.506667pt;}
.ycb{bottom:458.306667pt;}
.y33{bottom:460.226667pt;}
.y87{bottom:462.466667pt;}
.ya8{bottom:462.626667pt;}
.y61{bottom:470.466667pt;}
.yca{bottom:475.106667pt;}
.y86{bottom:479.266667pt;}
.y32{bottom:481.186667pt;}
.y60{bottom:487.426667pt;}
.yc9{bottom:492.066667pt;}
.y85{bottom:496.066667pt;}
.y31{bottom:501.986667pt;}
.y5f{bottom:508.066667pt;}
.yc8{bottom:508.706667pt;}
.y84{bottom:513.026667pt;}
.y30{bottom:522.946667pt;}
.y5e{bottom:525.026667pt;}
.yc7{bottom:525.666667pt;}
.ya7{bottom:529.826667pt;}
.y83{bottom:529.986667pt;}
.y2f{bottom:539.746667pt;}
.y5d{bottom:541.826667pt;}
.yc6{bottom:542.626667pt;}
.ya6{bottom:546.786667pt;}
.y82{bottom:550.786667pt;}
.y2e{bottom:556.546667pt;}
.y5c{bottom:558.786667pt;}
.yc5{bottom:559.426667pt;}
.ya5{bottom:563.586667pt;}
.y81{bottom:567.586667pt;}
.y2d{bottom:573.533333pt;}
.y5b{bottom:575.613333pt;}
.yc4{bottom:576.253333pt;}
.ya4{bottom:580.413333pt;}
.y80{bottom:584.413333pt;}
.y5a{bottom:592.413333pt;}
.yc3{bottom:593.213333pt;}
.y2c{bottom:594.333333pt;}
.y7f{bottom:601.373333pt;}
.ya3{bottom:601.533333pt;}
.y59{bottom:609.373333pt;}
.yc2{bottom:610.173333pt;}
.y2b{bottom:611.293333pt;}
.ya2{bottom:618.173333pt;}
.y7e{bottom:622.333333pt;}
.y58{bottom:626.173333pt;}
.yc1{bottom:626.813333pt;}
.y2a{bottom:632.253333pt;}
.ya1{bottom:635.133333pt;}
.y7d{bottom:639.133333pt;}
.y57{bottom:643.133333pt;}
.yc0{bottom:643.773333pt;}
.y29{bottom:648.893333pt;}
.ya0{bottom:651.933333pt;}
.y7c{bottom:655.933333pt;}
.y56{bottom:659.933333pt;}
.ybf{bottom:660.733333pt;}
.y28{bottom:665.853333pt;}
.y9f{bottom:668.733333pt;}
.y7b{bottom:672.733333pt;}
.y55{bottom:676.733333pt;}
.ybe{bottom:677.373333pt;}
.y27{bottom:682.813333pt;}
.y9e{bottom:685.693333pt;}
.y7a{bottom:689.693333pt;}
.y54{bottom:693.693333pt;}
.ybd{bottom:695.133333pt;}
.y26{bottom:699.773333pt;}
.y9d{bottom:702.493333pt;}
.y53{bottom:710.493333pt;}
.y79{bottom:710.653333pt;}
.ybc{bottom:715.933333pt;}
.y25{bottom:716.573333pt;}
.y9c{bottom:719.453333pt;}
.y52{bottom:727.453333pt;}
.y24{bottom:733.373333pt;}
.ybb{bottom:735.133333pt;}
.y9b{bottom:740.413333pt;}
.y51{bottom:744.253333pt;}
.y23{bottom:750.333333pt;}
.yba{bottom:756.573333pt;}
.y50{bottom:761.213333pt;}
.y9a{bottom:761.373333pt;}
.y22{bottom:767.133333pt;}
.y4f{bottom:778.013333pt;}
.y99{bottom:782.013333pt;}
.y21{bottom:784.093333pt;}
.y4e{bottom:794.853333pt;}
.y98{bottom:798.853333pt;}
.yb9{bottom:799.493333pt;}
.y20{bottom:800.933333pt;}
.y4d{bottom:811.813333pt;}
.y97{bottom:815.813333pt;}
.y1f{bottom:817.733333pt;}
.yb8{bottom:820.933333pt;}
.y4c{bottom:828.613333pt;}
.y78{bottom:828.773333pt;}
.y96{bottom:832.613333pt;}
.y1e{bottom:834.533333pt;}
.yb7{bottom:841.573333pt;}
.y77{bottom:849.573333pt;}
.y4b{bottom:849.733333pt;}
.y1d{bottom:851.333333pt;}
.yb6{bottom:858.373333pt;}
.y4a{bottom:866.373333pt;}
.y1c{bottom:867.813333pt;}
.yb5{bottom:875.173333pt;}
.y1b{bottom:883.173333pt;}
.y76{bottom:887.333333pt;}
.y0{bottom:896.000000pt;}
.y1a{bottom:899.173333pt;}
.y49{bottom:900.133333pt;}
.y75{bottom:904.133333pt;}
.y48{bottom:916.933333pt;}
.y19{bottom:917.573333pt;}
.y74{bottom:920.933333pt;}
.y47{bottom:933.893333pt;}
.y95{bottom:934.053333pt;}
.y18{bottom:935.973333pt;}
.y73{bottom:937.893333pt;}
.y94{bottom:950.693333pt;}
.y17{bottom:954.373333pt;}
.y46{bottom:954.693333pt;}
.y45{bottom:971.493333pt;}
.y72{bottom:971.653333pt;}
.y16{bottom:972.773333pt;}
.y15{bottom:991.173333pt;}
.y44{bottom:992.453333pt;}
.y71{bottom:992.613333pt;}
.y9{bottom:1008.453333pt;}
.y8{bottom:1023.040000pt;}
.y43{bottom:1024.000000pt;}
.y7{bottom:1037.600000pt;}
.y6{bottom:1052.160000pt;}
.y5{bottom:1066.880000pt;}
.y4{bottom:1081.440000pt;}
.y3{bottom:1096.000000pt;}
.y2{bottom:1110.560000pt;}
.h6{height:21.120000pt;}
.h5{height:35.926875pt;}
.h4{height:42.900937pt;}
.h2{height:48.023438pt;}
.h8{height:55.220937pt;}
.h9{height:61.208750pt;}
.ha{height:62.157500pt;}
.h3{height:66.531250pt;}
.h7{height:67.562500pt;}
.hc{height:77.841562pt;}
.hb{height:84.000000pt;}
.h1{height:212.000000pt;}
.h0{height:1122.720000pt;}
.w3{width:11.200000pt;}
.w4{width:218.666667pt;}
.w1{width:648.000000pt;}
.w2{width:793.759988pt;}
.w0{width:793.760000pt;}
.x1{left:0.000012pt;}
.x0{left:14.666667pt;}
.x2{left:56.799988pt;}
.x13{left:68.799988pt;}
.xf{left:85.311988pt;}
.x10{left:104.031988pt;}
.x11{left:109.311988pt;}
.xe{left:116.671988pt;}
.x16{left:122.911988pt;}
.x17{left:151.386655pt;}
.xd{left:206.426655pt;}
.x6{left:243.386655pt;}
.x3{left:259.426655pt;}
.x8{left:281.826655pt;}
.xa{left:284.866667pt;}
.xb{left:288.866667pt;}
.xc{left:293.186655pt;}
.x9{left:298.306655pt;}
.x7{left:347.266655pt;}
.x4{left:377.186655pt;}
.x14{left:389.666655pt;}
.x12{left:395.266655pt;}
.x5{left:400.866655pt;}
.x15{left:403.906655pt;}
}