body{
    margin: 0;
    box-sizing: border-box;
}
.label-campo{
    font-size: 12px;
    color: #909090;
}
.navbar-light{
    background-color: #2a0b42 !important;
}
.btn-purple{
    box-shadow: 1px 1px 3px #777;
}

.fundo-modal{
    background: rgba(0,0,0,.1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;    
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.spinner{    
    margin: 0 auto 0 auto;
    border: 8px solid;
    border-left-color:  #2a0b42;
    border-right-color:  #2a0b42;
    height: 100px;
    width: 100px;
    border-radius: 25%;
    animation: spin 2s linear infinite;
}

.btn-grid-pg:disabled{
    color: #d2d2d2;
}
.btn-grid-pg:hover:enabled{
    color: #1cc88a !important;
}
.btn-grid-pg{
    color: #563d7c;
}
.btn-grid-vc{
    color: #f6c23e;
}
.btn-grid-bloqueado{
    color: #e74a3b;
}
.btn-grid-pg,.btn-grid-vc,.btn-grid-bloqueado{
    font-size: 1.2em;
    box-shadow: 1px 1px 5px 2px #ddd;
}

.area-mensagens{
    width: 88vw;
    height: 70vh;
    background-color: transparent;
    border-radius: 5px;
    padding: 30px;
    overflow: auto;
    position: relative;
}
.alinhamento{
    display: block;
}
.mensagem-representante{
    background: linear-gradient(45deg, rgb(103, 7, 141) 0%, rgba(215, 107, 236, 0.911) 80%);
    color: #f5f5f5;
    padding: 5px 15px 5px 15px;
    border-radius: 30px 30px 0px 30px;
    height: 80%;
    position: relative;
    box-shadow: 2px 2px 5px 2px #ccc;
    display: inline-block;
    align-items: center;
    animation: anima-mensagem 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.mensagem-sistema{
    background:linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(92,8,140,0.9108018207282913) 80%);
    color: #fff;
    padding: 5px 15px 5px 15px;
    box-shadow: 2px 2px 5px 2px #ccc;
    border-radius: 0px 30px 30px 30px;
    margin-bottom: 20px;
    height: 80%;
    position: relative;
    display: inline-table;
    align-items: center;
    animation: anima-mensagem 0.5s 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.espaco-mensagens{
    margin-bottom: 10px;
}

.caixa-texto{
    display: grid;
    grid-template-columns: 6fr 1fr;
    margin-bottom: 10px;
    grid-gap: 10px;
}

.grupo-esconder-data-instalacao{
    display: none;
}
.grupo-mostrar-data-instalacao{
    display: block;
}
  
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}
.swal-button-container{
    border: none !important;    
    background: transparent;
    outline: none;
}
.swal-button{
    background-color: #2a0b42 !important;
    color: #fff;
    border-color: #2a0b42 !important;
    outline: none;
}

.fade-form{
    animation: puff-in-center 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.anima-logo{
    animation: anima-logo 5s linear infinite both;
}

@keyframes puff-in-center {
    0% {
              /* transform: scale(0.1); */
              
      opacity: 0;
    }
    100% {
              /* transform: scale(1); */
              
      opacity: 1;
    }
  }
  
  @keyframes anima-mensagem {
    0% {
      transform: scale(0);
      transform-origin: 0% 0%;
      opacity: 1;
    }
    100% {
   
      transform: scale(1);
      transform-origin: 0% 0%;
      opacity: 1;
    }
  }

  @keyframes anima-logo {
    0% {
              transform: rotateY(0);
    }
    100% {
               transform: rotateY(360deg);
    }
  }
  