@import url("https://fonts.googleapis.com/css?family=Rajdhani:500,700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
} 
body {
  -webkit-box-align: center;
          align-items: center;
  background: #2a0b42 ;   
  background: -webkit-linear-gradient(to right, #8344be, #2a0b42 );
  background: linear-gradient(to right, #8344be, #2a0b42 ); 
  display: -webkit-box;
  display: flex;
  font-family: "Rajdhani", sans-serif;
  height: 100vh;
  -webkit-box-pack: center;
          justify-content: center;
} 
a{
  color: #fff;
}
.contact-wrapper{
  color: #fff;
  background:transparent;
  border-radius: .75em;
  padding:4em 0;
  width:40em;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.left_side,
.right_side{
  width:100%;
  padding:0 3em;
}
.right_side > h2{
  color:#fff;
  font-size: 1.75em;
  text-align: center;
}
form{
  margin:2em 0;
}
form > .form-row{
  display:-webkit-box;
  display:flex;
  margin:.75em 0;
  position:relative;
}
form > .form-row > span{
  background:#8344be;
  color:#fff;
  border-radius: 3px;
  display:inline-block;
  font-weight: 400;
  left:1em;
  padding:0 .5em;
  position:absolute;
  pointer-events:none;
  -webkit-transform:translateY(-50%); 
  transform:translateY(-50%); 
  top:50%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
form > .form-row > input,
form > .form-row > button{
  border-radius: .5em;
  padding:1em .5em;
  width:100%;
  font-family: inherit;
}
form > .form-row > input{
  font-weight: bold;
  -webkit-transition:100ms ease all;
  transition:100ms ease all;
  width:100%;
}
form > .form-row > input[type=email],
form > .form-row > input[type=password]{
  border:.075em solid #ddd;
}
form > .form-row > input:valid + span{
  top:0;
  font-size: .90rem;
}
form > .form-row > input:focus + span{
  top:0;
  color: #fff;
  font-weight: 600;
}
form > .form-row > input:required{
  box-shadow: none;
}
form > .form-row > input:focus{
  border-color:#8344be;
  outline:none;
}
form > .form-row > input:focus:invalid{
  box-shadow: none;
  top:50%;
}
form > .form-row > input:focus:valid{
  top:0;
}
form > .form-row > button{
  background-color:#8344be;
  border:.10em solid #8344be;
  color:#fff;
  cursor: pointer;
  font-weight: bold;
  transition:all 300ms ease;
}
form > .form-row > button:focus{
  border:0.1em solid #533cf8;
  outline:none;
}
form> .form-row > button:hover{
  background:#6744f9;
}
.socials-wrapper > h2{
  background:transparent;
  color:#fff;
  font-size: 1rem;
  position: relative;
  text-align: center;
  z-index: 10;
}

.socials-wrapper > h2:before{
  left:0;
}
.socials-wrapper > h2:after{
  right:0;
}
.socials-wrapper > ul{
  display:-webkit-box;
  display:flex;
  list-style: none;
  -webkit-box-pack: center;
  justify-content:center;
  padding:0;
}
.socials-wrapper > ul > li{
  margin:.5em;
}
.socials-wrapper > ul > li > a{
  -webkit-box-align:center;
  align-items:center;
  border-radius: .5em;
  color:#fff;
  display:-webkit-box;
  height:2em;
  -webkit-box-pack: center;
  justify-content:center;
  text-align: center;
  text-decoration: none;
  -webkkit-transition:all 300ms ease;
  transition:all 300ms ease;
  width:2em;
}
.socials-wrapper > ul > li > a.facebook{
  background:#3763d2;
}
.socials-wrapper > ul > li > a.twitter{
  background:#1abcff;
}
.socials-wrapper > ul > li > a.instagram{
  background:#ff00aa;
}
.socials-wrapper > ul > li > a.youtube{
  background:#fd434f;
}
.socials-wrapper > ul > li > a:hover{
  -webkit-transform:translateY(-0.50em);
   transform:translateY(-0.50em);
}

@media (max-width:992px){ 
  .socials-wrapper > h2:after,
  .socials-wrapper > h2:before{
    width:10.5%
  }
}
@media (max-width:767px){
  .contact-wrapper{
    flex-direction: column;
  }
  .left_side,
  .right_side{
    width:100%;
    padding:0 3em;
  }
  .socials-wrapper > h2:after,
  .socials-wrapper > h2:before{
    width:10.5%
  }
}

  