.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.btn-purple{
    background-color: #563d7c;
    color: white;
}
.btn-purple:hover:enabled{
    background-color: #1cc88a !important;
    color: white;
}
.btn-purple:hover:disabled{
    color: white;
}

.table-font-small{
    font-size: 8pt;
    width: 100%;
}
.text-xs{
    font-size: 12pt;
}
.list-group{
    background-color: #f8f9fc;
}
.navbar-light{
    background-color: #563d7c !important;
    color: white !important;
}
#sidebarToggleTop{
    color: white !important;

}
.fundo-login{
    background-color: #563d7c;
    background-image: linear-gradient(180deg,#563d7c 10%,#224abe 100%);
    background-size: cover;
}
#listaUsuarios>li {
  margin-top: 5px;  
  display: inline-block !important;
}
.modal-xl{
    max-width: 100%;
}
.modal-content{
    background: #f8f9fc;
}
input[type="text"],textarea {
    text-transform: uppercase;
}