<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>OnSaiph</title>
    <style>
        * {
            margin: 0;
            color: #fff;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            box-sizing: border-box;
        }

        .marca-dagua {
            background: url("http://www.zoomtecnologia.com/imagens/marcadaguazoom.png") no-repeat;
            margin-left: auto;
            margin-right: auto;
            background-position: center 20px;
            background-attachment: fixed;
            background-size: 300px;
            height: 100vh;
            background-color: blueviolet;
            padding: 10px;
            overflow-y: hidden;
        }

        .botao {
            background: rgb(86, 160, 12);
            padding: 10px;
            border-radius: 5px;
            width: 370px;
            font-size: 25px;
            border: 2px #fff;
            margin-left: auto;
            margin-right: auto;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="marca-dagua">
        <div style="text-align: center;">
            <div style="margin-top: 200px; font-size: 20pt; font-weight: bold; text-align: center;">
                <p>Pedido #<span th:text="${numeroPedido}"></span></p>
                <p th:text="${razaoSocial}"></p>
                <p th:text="${cnpj}"></p>
                <p th:text="${statusPedido}"></p>
            </div>
            <img goomoji="1f60a" data-goomoji="1f60a"
                style="margin-top: 30px;vertical-align:middle;max-height:50px;min-width: 50px;" alt="😊"
                src="https://mail.google.com/mail/e/1f60a" data-image-whitelisted="" class="CToWUd" />
        </div>
    </div>
</body>

</html>